/* Custom Properties */
:root {
  /* Light Theme Colors */
  --text: #040c0b;
  --background: #ffffff;
  --primary: #97acd3;
  --secondary: #cdd7ea;
  --accent: #4667a4;

  /* Dark Theme Colors */
  --textDark: #f8f9fc;
  --backgroundDark: #000000;
  --primaryDark: #2c4168;
  --secondaryDark: #151f32;
  --accentDark: #5b7cb9;
  /* Font Types */

  /* Kiwi Maru Font Family */
  --primaryText: "Kiwi Maru", serif;

  /* Noto Sans Japanese Font Family */
  --secondaryText: "Montserrat", sans-serif;
}
/* ----------------------------------------------------------------Global----------------------------------------------------------------------- */

* {
  color: var(--textDark);
  font-family: var(--secondaryText);
}

main,
body {
  background-color: var(--backgroundDark);
}

/* ----------------------------------------------------------------Index----------------------------------------------------------------------- */

nav {
  background-color: var(--accentDark);
  max-width: 100%;
  font-size: 1.2rem;
}

.navImg {
  background-image: url(https://i.postimg.cc/mZ6wqHzn/rey-seven-nm-m-Z4-Cs2-I-unsplash.jpg);
  background-size: cover;
  height: 5rem;
  width: 180px;
  margin: auto 0;
}

.navImg p {
  margin: 2rem auto;
  font-family: var(--primaryText);
}

.navImg p:hover {
  color: var(--secondaryDark);
}

nav .navLinks a {
  color: var(--textDark);
  text-decoration: none;
}

nav .navLinks a:hover {
  color: var(--primaryDark);
  font-weight: bolder;
  font-size: 1.4rem;
}

nav .navLinks button:hover {
  color: var(--primaryDark);
  font-weight: bolder;
  font-size: 1.4rem;
}

nav .navLinks {
  display: flex;
}

nav .navLinks p {
  margin: auto;
}

nav button {
  border: none;
  background-color: transparent;
}

.indexBackground {
  background-image: url(https://i.postimg.cc/qv2xzDbf/jaredd-craig-HH4-WBGNyltc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 40rem;
  width: fit-content;
}

.indexText {
  height: 600px;
  width: 500px;
  margin: auto;
  padding: 8rem 1rem 0 1rem;
}

.indexText p {
  font-size: 1.5rem;
  font-family: var(--primaryText);
}

.indexText h1 {
  padding: 4rem 0;
  font-size: 3rem;
  font-family: var(--primaryText);
}

.indexText h1:hover {
  color: var(--secondaryDark);
}

.footerName h3 {
  font-family: var(--primaryText);
}

.footerName h3:hover {
  color: var(--secondaryDark);
}

.footArea {
  background-color: var(--accentDark);
}
