/* Custom Properties */
:root {
  /* Light Theme Colors */
  --text: #040c0b;
  --background: #ffffff;
  --primary: #97acd3;
  --secondary: #cdd7ea;
  --accent: #4667a4;

  /* Dark Theme Colors */
  --textDark: #f8f9fc;
  --backgroundDark: #000000;
  --primaryDark: #2c4168;
  --secondaryDark: #151f32;
  --accentDark: #5b7cb9;
  /* Font Types */

  /* Kiwi Maru Font Family */
  --primaryText: "Kiwi Maru", serif;

  /* Noto Sans Japanese Font Family */
  --secondaryText: "Montserrat", sans-serif;
}
/* ----------------------------------------------------------------Global----------------------------------------------------------------------- */

* {
  color: var(--textDark);
  font-family: var(--secondaryText);
}

body main,
.mainBackground {
  background-color: var(--backgroundDark);
}

/* ----------------------------------------------------------------Index----------------------------------------------------------------------- */

nav {
  background-color: var(--accentDark);
  max-width: 100%;
  font-size: 1.2rem;
}

.navImg {
  background-image: url(https://i.postimg.cc/mZ6wqHzn/rey-seven-nm-m-Z4-Cs2-I-unsplash.jpg);
  background-size: cover;
  height: 5rem;
  width: 180px;
  margin: auto 0;
}

.navImg p {
  margin: 2rem auto;
  font-family: var(--primaryText);
}

.navImg p:hover {
  color: var(--secondaryDark);
}

nav .navLinks a {
  color: var(--textDark);
  text-decoration: none;
}

nav .navLinks a:hover {
  color: var(--primaryDark);
  font-weight: bolder;
  font-size: 1.4rem;
}

nav .navLinks button:hover {
  color: var(--primaryDark);
  font-weight: bolder;
  font-size: 1.4rem;
}

nav .navLinks {
  display: flex;
}

nav .navLinks p {
  margin: auto;
}

nav button {
  border: none;
  background-color: transparent;
}

.indexBackground {
  background-image: url(https://i.postimg.cc/qv2xzDbf/jaredd-craig-HH4-WBGNyltc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  height: 40rem;
  width: fit-content;
}

.indexText {
  height: 600px;
  width: 500px;
  margin: auto;
  padding: 8rem 1rem 0 1rem;
}

.indexText p {
  font-size: 1.5rem;
  font-family: var(--primaryText);
}

.indexText h1 {
  padding: 4rem 0;
  font-size: 3rem;
  font-family: var(--primaryText);
}

.indexText h1:hover {
  color: var(--secondaryDark);
}

.footerName h3 {
  font-family: var(--primaryText);
}

.footerName h3:hover {
  color: var(--secondaryDark);
}

.footArea {
  background-color: var(--accentDark);
  display: absolute;
  bottom: 0;
}
/* ----------------------------------------------------------------About----------------------------------------------------------------------- */

.storyText {
  font-size: 1.5rem;
}

.ideaImg img {
  height: 30rem;
}

.ideaText {
  height: fit-content;
  width: 30rem;
}

.ideaText p {
  display: block;
  width: 30rem;
  font-size: 1.3rem;
  padding: 4rem 0;
}

.founderPoem {
  height: 25rem;
  width: 25rem;
  margin: auto;
}

.founderText {
  font-size: 1.5rem;
  padding: 4rem 0;
}

.founderImg {
  height: 20rem;
  margin: 4rem 0;
}

.teamImg {
  height: 20rem;
  width: 15rem;
}

/* --------------------------------------------------------------Checkout----------------------------------------------------------------------- */

.search {
  color: var(--backgroundDark);
  font-weight: bolder;
}

.flip-card {
  background-color: transparent;
  width: 18rem;
  height: 25rem;
  margin: 1rem auto;
  border: 5px double var(--primaryDark);
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--secondaryDark);
  color: var(--textDark);
}

/* Style the back side */
.flip-card-back {
  background-color: var(--accentDark);
  color: var(--textDark);
  transform: rotateY(180deg);
}

.gridDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content;
/* --------------------------------------------------------------Checkout----------------------------------------------------------------------- */

.firstName {
}

.secondName {
}

/* ------------------------------------------------------Imported Code From UIverse------------------------------------------------------------- */

.center {
  margin: auto;
  /* display: none; */
}

.loader {
  --background: linear-gradient(135deg, #23c4f8, #275efe);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6c7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
}

.loader:before,
.loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader:before {
  left: 4px;
}

.loader:after {
  --r: 6deg;
  right: 4px;
}

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite;
}

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2;
}

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3;
}

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4;
}

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5;
}

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block;
}

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1;
}

.loader div ul li:last-child {
  --o: 1;
}

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  35%,
  100% {
    opacity: 0;
  }

  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }

  65%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  65%,
  100% {
    opacity: 0;
  }

  80%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  80%,
  100% {
    opacity: 0;
  }

  95%,
  100% {
    transform: rotateY(0deg);
  }
}
